/*--------------------------

Created by: EN0610 Group 4 (Nerd Finder)
Description: Monolithic base stylesheet for Nerd Finder to be included on every page

CSS Naming Convention: BEM (Block, Element, Modifier)
Naming Convention Documentation: http://getbem.com/naming/

--------------------------*/
/*--------------------------
ANIMATIONS
--------------------------*/
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/*--------------------------
GLOBAL
--------------------------*/
html{
    height: 100%;
}
body{
    background: #F6F8FA;
    overflow-y: scroll;
    height: 100%;
}
.hide{
    display: none !important;
}
.center-text{
    text-align: center;
}
/*--------------------------
GRIDS
--------------------------*/
.wrapper{
    width: calc(100% - 120px);
    max-width: 1145px;
    margin: 0 auto;
}
.wrapper_1{
    width: 100%;
    max-width: 1145px;
    margin: 0 auto;
}

.flex-grid{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.grid-1{
    width: calc((100% - 80px) / 3);
}
.grid-2{
    width: calc(((100% - 80px) / 3) * 2);
}
.grid-2-1{
    width: calc((100% - 40px) / 2);
}
.grid-3-2{
    width: calc((100% - 120px) * 0.66);
}
.grid-3-1{
    width: calc((100% - 120px) * 0.33);
}
.grid__row{
    margin: 0 0 30px 0;
}
.grid__row-image{
    display: inline-block;
    width: calc((100% - 80px) / 3);
    margin: 0 40px 0 0;
}
.grid__row-image:last-child{
    margin: 0;
}
/*--------------------------
NAV
--------------------------*/
.nav{
    width: 100%;
    height: 70px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    text-align: right;
    z-index: 1000;
    user-select: none;
}
.nav__wrapper{
    margin: 0 auto;
    width: calc(100% - 80px);
    height: 70px;
}
.nerd-finder-logo{
    width: 133px;
    height: 21px;
    margin: 24px 0 25px 0;
    display: block;
    float: left;
}
.nav__item-list{
    display: inline-block;
    vertical-align: top;
}
.nav__item{
    display: inline-block;
    margin: 0 0 0 30px;
    line-height: 70px;
}
.nav__item a{
    color: #5E7991;
}
.nav__item a:hover{
    color: #414B6B;
}
.nav__item--current{
    border-bottom: #414B6B 3px solid;
    line-height: 64px;
    margin: 3px 0 0 30px;
}
.nav__item--current a{
    color: #414B6B;
}
.nav__icon{
    display: inline-block;
    line-height: 70px;
    vertical-align: top;
}
.nav__messages-icon{
    margin: 0 30px;
    color: #414B6B;
    font-size: 21px;
    cursor: pointer;
}
.nav__user-profile{
    border-radius: 100%;
    height: 40px;
    width: 40px;
    margin: 15px 10px 15px 0;
    display: inline-block;
    cursor: pointer;
    opacity: 0.9;
}
.nav__drop-down-icon{
    color: #5E7991;
    cursor: pointer;
}
.nav__admin{
    border-left: 1px solid #FF9673;
    float: left;
    height: 25px;
    margin: 22.5px 0 22.5px 25px;
    padding: 0 0 0 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.nav__admin-text{
    color: #FF9673;
    line-height: 25px;
    position: relative;
}
.nav__user-area{
    display: inline-block;
    cursor: pointer;
    height: 70px;
}
.nav__drop-down{
    position: fixed;
    top: 65px;
    right: 40px;
    z-index: 1000;
    width: 165px;
    float: right;
    clear: both;
    text-align: left;
    padding: 12.5px 25px;
    animation: fadeIn 0.3s forwards;
}
.nav__drop-down-list-item{
    color: #5E7991;
    font: 400 14px/40px 'Gesta-Regular', sans-serif;
}
.nav__drop-down-list-item:hover{
    color: #414B6B;
}
.icon-menu{
    display: none;
}
/*--------------------------
HEADERS
--------------------------*/
.header{
    margin: 70px 0 0 0;
    width: 100%;
}
.header--big{
    padding-bottom: 100px;
    background: #ff9673 url('../img/homepage-cover.jpg');
    background-size: cover;
}
.header--small{
    line-height: 70px;
}
.header--small__link{
    color: #fff;
}
.header__heading{
    padding-bottom: 50px;
}
/*--------------------------
CONTAINERS
--------------------------*/
.soft-box{
   background: #fff;
   border-radius: 10px;
   box-shadow: 0px 0px 10px rgba(144, 164, 183, 0.05);
}
.soft-box--padded{
    padding: 40px;
}
.main{
    margin: 60px auto;
}

/*--------------------------
events
--------------------------*/

.event-soft-box--padded{
    padding: 40px;
}
.event-main{
    margin: 60px auto;
}
.event-date {
    float: right;
}
.event-soft-box{
    background: #fff;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(144, 164, 183, 0.05);
    margin-bottom: 25px;
    width: 100%;
    text-align: -moz-left;

}
.event-soft-box-content {
    position: relative;
    float: right;
}
.event-type {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(144, 164, 183, 0.05);
    margin-bottom: 25px;
    width: 100%;

}
img{
height: 30%;
}

.event-grid-3-1 {
    width: calc((100% - 120px) * 0.33);
    float: right;
    width: 33%;
    margin-bottom: 0%;
}
.events-grid__row{
    margin: 0 0 30px 0;
}

/*--------------------------
CALL TO ACTIONS
--------------------------*/
.button{
    cursor: pointer;
    height: 50px;
    font: 400 16px/45px 'Facit-Regular', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    border-radius: 25px;
    border: none;
    padding: 4px 25px 0 25px;
    /* HOVER EFFECTS */
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.button:hover, .button:focus, .button:active{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    outline: none;
}
.button--primary-white{
    border: 1px solid #fff;
    background: #fff;
    color: #FF9673;
}
.button--primary-green{
    background: #5AD6AD;
    color: #fff;
}
.button--primary-red{
    background: #FF737E;
    color: #fff;
}
.button--secondary-white{
    border: 1px solid #fff;
    color: #fff;
}
.button--secondary-red{
    border: 1px solid #FF737E;
    color: #FF737E;
}
.button--secondary-green{
    border: 1px solid #5AD6AD;
    color: #5AD6AD;
}
.button--nav{
    height: 40px;
    line-height: 40px;
    padding: 1px 20px 0 20px;
    border-radius: 20px;
    margin: 16px 0 0 30px;
    display: inline-block;
    vertical-align: top;
}
.text-link{
    color: #FF9673;;
    border-bottom: 0.5px solid #FFC6B3;
    text-decoration: none;
    letter-spacing: 1.5px;
    cursor: pointer;
}
.text-link:hover{
    color: #FF737E;
    border-color: #FFB3B9;
}
.center-button{
    margin: 40px auto 0 auto;
}
/*--------------------------
EFFECTS
--------------------------*/
.shadow--light{
    box-shadow: 0px 0px 10px rgba(144, 164, 183, 0.05);
}
.shadow--dark{
    box-shadow: 0px 0px 10px rgba(144, 164, 183, 0.15);
}
.background-gradient{
    background: #ff9673;
    background: -moz-linear-gradient(45deg, #ff9673 0%, #ff737e 100%);
    background: -webkit-linear-gradient(45deg, #ff9673 0%,#ff737e 100%);
    background: linear-gradient(45deg, #ff9673 0%,#ff737e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9673', endColorstr='#ff737e',GradientType=1 )
    color: #fff;
}
/*--------------------------
FORM ELEMENTS
--------------------------*/
input, select{
    height: 36px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input:focus, select:focus, textarea:focus{
    outline:0;
}
input[type='text'], input[type='password'], input[type='date'], input[type='time'], textarea{
    background: #fff;
    border: solid 1px #F0F4F8;
    border-radius: 20px;
    width: calc(100% - 80px);
    margin: 0 auto;
    font: 400 14px/36px 'Facit-Regular', sans-serif;
    color: #5E7991;
    letter-spacing: 1px;
    padding: 0 20px;
    box-sizing: border-box;
}
input[type='checkbox']{
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
}
select{
    width: 100%;
    background: #fff;
    border: solid 1px #F0F4F8;
    border-radius: 20px !important;
    padding: 0 20px;
    font: 400 14px/36px 'Facit-Light', sans-serif;
    letter-spacing: 1px;
    color: #414B6B;
}
textarea{
    resize: none;
}
textarea::placeholder{
    color: #D2DEEA;
}
.select-icon{
    pointer-events: none;
    position: relative;
    float: right;
    right: 19px;
    bottom: 43px;
    color: #AEBCC8;
    font-size: 12px;
    width: 13px;
    height: 12px;
    background: #fff;
    padding: 0 0 0 10px;
    box-sizing: content-box;
    display: inline;
}
.select-icon--small{
    bottom: 23px;
}
.bulleted-list{
    list-style: disc inside;
    line-height: 32px;
}
.full-width-form{
    padding: 20px 0 0 0;
}
.full-width-form__field{
    width: 100% !important;
    margin: 5px 0 20px 0 !important;
}
.icon-arrow-left{
    position: relative;
    top: 3px;
}
/*--------------------------
MAIN COMPONTENTS
--------------------------*/
.user-profile-name{
    display: inline-block;
    vertical-align: top;
    font: 400 14px/70px 'Facit-Regular', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #414B6B;
    margin: 0 0 0 5px;
}
/*--------------------------
MESSAGES
--------------------------*/
.user-message{
    color: #fff;
    padding: 8px 12px;
    border-radius: 10px;
    width: 75%;
    margin: 20px 0;
    font: 400 14px/22px 'Gesta-Regular', sans-serif;
}
.user-message__sent{
    background: #5AD6AD;
}
.user-message__recieved{
    background: #5E7991;
    margin-left: 25%;
}
.user-message:first-child{
    margin-top: 0;
}
.user-message:last-child{
    margin-bottom: 0;
}
/*--------------------------
FOOTER
--------------------------*/
.copyright{
    color: #5E7991;
    display: block;
    text-align: left;
}
.copyright__big-footer{
    margin: 60px 0 0 0;
}
.footer{
    width: 100%;
    background: #fff;
    padding: 60px 0;
}
.footer__heading{
    color: #5E7991;
    user-select: none;
}
.footer__column{
    width: 15%;
}
.footer__social-icon{
    display: block;
    float: left;
    width: 40px;
    max-width: 40px;
    margin: 0 0 0 calc((100% - 120px) / 2);
}
.footer__social-icon:first-child{
    margin: 0;
}
.footer__link{
    margin: 16px 0;
}
.footer__link a{
    color: #5E7991;
}
.footer__link a:hover{
    border-bottom: 0.5px solid #B1C8DE;
}
/*--------------------------
MODAL
--------------------------*/
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #222738;
    opacity: 0.5;
    z-index: 1100;
    cursor: pointer;
}
.modal{
    background: #fff;
    width: 40%;
    padding: 40px;
    z-index: 1101;
    position: fixed;
    top: 120px;
    left: 30%;
    border-radius: 16px;
}
.modal--big{
    width: 70%;
    left: 15%;
    top: 80px;
    position: absolute;
}
.modal--big input[type='text'], .modal--big input[type='password'], .modal--big input[type='date'], .modal--big input[type='time'], .modal--big textarea{
    width: 100%;
}
.modal--big select{
    margin: 0;
}
.modal--big h3{
    margin: 10px 0;
}
.modal--big textarea{
    height: 210px;
    box-sizing: border-box;
    padding: 13px 20px;
    line-height: 25px;
}
#modal__input{
    font: 600 24px/32px 'Facit-Semibold', sans-serif;
    color: #414B6B;
    letter-spacing: 1px;
    border: none;
    border-radius: 0;
    width: calc(100% - 32px);
    padding: 0;
    margin: 0 0 40px 0;
    overflow-y: auto;
}
.icon-exit-dark{
    float: right;
    width: 14px;
    line-height: 32px;
    cursor: pointer;
}
@media all and (max-width: 900px) {

    .icon-menu{
        display: inline-block;
        color: #414B6B;
        cursor: pointer;
    }
    .nav__item-list{
        position: fixed;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(144, 164, 183, 0.15);
        display: none;
    }
    .nav__item{
        display: block;
        width: 100%;
        text-align: center;
        border-top: solid 1px #F0F4F8;
        margin: 0;
    }
    .nav__admin{
        display: none;
    }
    /*--------------------------
    GRIDS
    --------------------------*/
    .grid-3-2{
        width: 100%;
    }
    .grid-3-1{
        width: 100%;
    }
    .grid-2-1{
        width: 100%;
    }
    /*--------------------------
    FOOTER
    --------------------------*/
    .footer__column{
        width: 30%;
        margin: 20px 0;
    }
}
@media all and (max-width: 600px) {

    .nav__messages-icon{
        display: none;
    }
    .icon-menu{
        margin: 0 30px 0 0;
    }
    /*--------------------------
    GRIDS
    --------------------------*/
    .grid-1{
        width: 100%;
    }
    .grid-2{
        width: 100%;
    }
    .modal{
        width: 85%;
        left: 7.5%;
        top: 40px;
    }
    /*--------------------------
    FOOTER
    --------------------------*/
    .footer__column{
        width: 100%;
    }
}
