
/*--------------------------
events
--------------------------*/
.event-soft-box {
    display: flex;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 35px;
    text-align: center;
    background: white;
    border-radius: 10px;
    width: 100%;
}

.event-soft-box--padded{
    padding: 40px;
}

.event-date {
    float: right;
}
.event_wrapper{
    max-width: 1145px;
    margin: 0 auto;
}

.event-box_pic {
    display: contents;
    vertical-align: top;
    font:  '120px', 'Facit-Regular', sans-serif;
    text-transform: uppercase;
    color: #414B6B;
}
.event-box_location {
    display: contents;
    vertical-align: top;
    font: 400 14px/26px 'Facit-Regular', sans-serif;
    text-transform: uppercase;
    color: #414B6B;
}

.event_button {
    margin: 48px 52px;
    text-align: right;
}
