/*--------------------------

Created by: EN0610 Group 4 (Nerd Finder)
Description: Monolithic base stylesheet for Nerd Finder to be included on every page

CSS Naming Convention: BEM (Block, Element, Modifier)
Naming Convention Documentation: http://getbem.com/naming/

--------------------------*/


/
/*--------------------------
events
--------------------------*/
.event-soft-box {
    display: flex;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 35px;
    text-align: center;
    background: white;
    border-radius: 10px;
    width: 62%;
}
.event-soft-box--padded{
    padding: 40px;
}

.event-date {
    float: right;
}
.event_wrapper{
    max-width: 1145px;
    margin: 0 auto;
}

.event-box_pic {
    display: contents;
    vertical-align: top;
    font:  '120px', 'Facit-Regular', sans-serif;
    text-transform: uppercase;
    color: #414B6B;
}
.event-box_location {
    display: contents;
    vertical-align: top;
    font: 400 14px/70px 'Facit-Regular', sans-serif;
    text-transform: uppercase;
    color: #414B6B;
}
.event_button {
    margin: 48px 52px;
    text-align: right;
}
