/*--------------------------
GLOBAL LAYOUT
--------------------------*/
.header{
    position: fixed;
    top: 0;
    left: 0;
}
/*--------------------------
MESSAGES LAYOUT
--------------------------*/
.wrapper--messages{
    width: 100%;
    height: calc(100% - 140px);
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
    position: fixed;
    top: 140px;
    left: 0;
}
.side-panel{
    width: calc(100% / 3);
    background: #fff;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: inline-block;
    vertical-align: top;
    z-index: 900;
    border-right: solid 1px #F0F4F8;
}
.side-panel h1{
    padding: 40px 60px 30px;
    font: 600 24px/32px 'Facit-Semibold', sans-serif;
    color: #414B6B;
    letter-spacing: 1px;
}
.side-panel__conversation{
    width: 100%;
    padding: 30px 60px;
}
.conversation{
    display: block;
    border-top: solid 1px #F0F4F8;
}
.conversation:last-child{
    border-bottom: solid 1px #F0F4F8;
}
.side-panel__conversation:hover{
    background: #F6F8FA;
}
.side-panel__conversation--current{
    background: #F6F8FA;
}
.side-panel__conversation-picture{
    float: left;
    border-radius: 100%;
    height: 60px;
    width: 60px;
    opacity: 0.9;  
}
.side-panel__conversation-user-name{
    float: left;
    font: 600 18px/30px 'Gesta-Regular', sans-serif;
    letter-spacing: 1.5px;
    margin: 0 0 0 15px;
    vertical-align: top;
}
.side-panel__conversation-preview{
    float: left;
    font: 400 14px/25px 'Gesta-Regular', sans-serif;
    text-overflow: ellipsis;
    width: calc(100% - 75px);
    white-space: nowrap;
    overflow: hidden;
    margin: 0 0 0 15px;
}
.clearfix{
    clear: both;
}
.message-container{
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: calc((100% / 3) * 2);
    z-index: 800;
}
.message-container__messages{
    padding: 40px;
    height: calc(100% - 118px);
    overflow-y: auto;
    overflow-x: hidden;
}
.message-container__form{
    background: #fff;
    border-top: solid 1px #F0F4F8;
}
.message-container__textarea{
    display: inline-block;
    width: calc(100% - 62px);
    border-radius: 0;
    border: 0;
    padding: 30px 40px;
    font: 400 18px/28px 'Facit-Regular', sans-serif;
    color: #414B6B;
}
.message-container__submit{
    padding: 30px 40px 0 0;
    width: 62px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    font-size: 22px;
    color: #414B6B;
}
.user-message{
    font: 400 18px/28px 'Gesta-Regular', sans-serif;
}
.no-messages{
    margin: 0;
    padding: 30px 60px;
    color: #D2DEEA;
    width: 100%;
    border-top: solid 1px #F0F4F8;
}
.messages__button{
    position: fixed;
    bottom: 60px;
    left: calc((100% / 6) - 87.5px);
}
.modal__form{
    width: 85%;
}
.modal__form-heading{
    margin-bottom: 10px; 
}
.modal__form-message{
    padding: 10px 20px;
    line-height: 24px;
}
@media all and (min-width: 1280px) {
    .wrapper--messages{
        left: calc((100% - 1265px) / 2); 
    }
}