/*--------------------------
CREATED BY JOE
USER BOX
--------------------------*/

.user-box {
    width: 300px;
    border: 1px solid #ff737e;
    padding: 25px;
    margin: 25px;
}

.user-box_profilepic {
    border-radius: 100%;
    height: 90px;
    width: 90px;
    margin: 15px 10px 15px 0;
    display: inline-block;
    cursor: pointer;
    opacity: 0.9;
}

.user-box_name {
    display: inline-block;
    vertical-align: top;
    font: 400 14px/70px 'Facit-Regular', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #414B6B;
}


.user-box_experience {
    display: inline-block;
    text-align: right;
    font: 400 12px/50px 'Facit-Regular', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    color: #414B6B;
}

.user-box_hourlyrate {
    text-align: right;
    font: 400 14px/50px 'bold', sans-serif;
    letter-spacing: 1.1px;
    color: #414B6B;
}



