/*--------------------------
CREATED BY JOE
USER BOX
--------------------------*/

.user-box {
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 350px;
    margin: 100px;
    text-align: center;
    cursor: pointer;
}

.user-box:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.user-box_pic1 {
    border-box: 100%;
    height: 90px;
    width: 90px;
    margin: 15px 10px 15px 0;
    display: inline-block;
    opacity: 0.9;
}


.user-box_profilepic {
    border-radius: 100%;
    height: 90px;
    width: 90px;
    margin: 15px 10px 15px 0;
    display: inline-block;
    opacity: 0.9;
}

.user-box_name {
    display: inline-block;
    vertical-align: top;
    font: 400 14px/70px 'Facit-Regular', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #414B6B;
}


.user-box_experience {
    text-align: center;
    text-transform: uppercase;
    font: 400 12px/50px 'Facit-Regular', sans-serif;
    letter-spacing: 1.1px;
    color: #414B6B;
}

.user-box_hourlyrate {
    text-align: center;
    font: 400 12px/50px 'bold', sans-serif;
    letter-spacing: 1.1px;
    color: #414B6B;
}

.user-box_checklist {
    vertical-align: bottom;
    font: 400 14px/70px 'Facit-Regular', sans-serif;
    letter-spacing: 1.5px;
    color: #414B6B;
}


